/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
	background-color: #2B7A78;
	line-height: 1.4em;
	padding:0 15px;
}

.main-header {
	text-align: center;
}

.container-custom {
	margin-top:30px;
	padding-bottom:30px;
	border:2px solid white;
}

.description {
	background-color:#2B7A78;
	margin-bottom:20px;
}

h3 {
  margin-top: 20px;
}

hr {
	margin-top: 25px;
	margin-bottom: 25px;
}

.footer {
	margin-top: 10px;
	text-align:center;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #F9BA32;
}

ul {
	list-style-type: none;
	padding:0;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: #F9BA32;
}
